---
 - name: install virtualization packages
   pacman:
     name: "{{ item }}"
     state: installed
   with_items:
    - linux-lts
    - libvirt
    - virt-manager
    - qemu
    - rpmextract
    - ebtables
    - dnsmasq
   tags: vm

 - name: start and enable libvirtd service
   service:
     name: "{{ item }}"
     enabled: yes
     state: started
   with_items:
    - libvirtd
    - virtlogd
   tags: vm

 - name: bypass password prompt for polkit
   become: yes
   copy:
     src: files/vm/49-nopasswd_global.rules
     dest: /etc/polkit-1/rules.d/
   tags: vm

 - name: create user-access to devices
   become: yes
   copy:
     src: files/vm/10-qemu-hw-users.rules
     dest: /etc/udev/rules.d/
   tags: vm

 - name: copy usb udev rules
   become: yes
   copy:
     src: files/vm/90-libvirt-usb.rules
     dest: /etc/udev/rules.d/
   tags: vm

 - name: add GPU and GPU's audio to vfio-pci
   become: yes
   copy:
     src: files/vm/vfio.conf
     dest: /etc/modprobe.d/
   tags: vm

 - name: add vfio modules to mkinitcpio
   become: yes
   replace:
     dest: /etc/mkinitcpio.conf
     regexp: 'MODULES=\"\"'
     replace: 'MODULES="vfio vfio_iommu_type1 vfio_pci vfio_virqfd"'
   register: vmvfio
   tags: vm

 - name: reload mkinitcpio for linux-lts
   become: yes
   command: "mkinitcpio -p linux-lts"
   when: vmvfio|changed
   tags: vm

 - name: set user to root for qemu.conf
   become: yes
   replace:
     dest: /etc/libvirt/qemu.conf
     regexp: '#user = \"root\"'
     replace: 'user = "alien"'
   tags: vm

 - name: set group to root for qemu.conf
   become: yes
   replace:
     dest: /etc/libvirt/qemu.conf
     regexp: 'group=\"78\"'
     replace: 'group = "alien"'
   tags: vm

 - name: set clear_emulator_capabilities to 0 for qemu.conf
   become: yes
   replace:
     dest: /etc/libvirt/qemu.conf
     regexp: '#clear_emulator_capabilities = 1'
     replace: 'clear_emulator_capabilities = 1'
   tags: vm

 - name: grant QEMU access to VFIO files
   become: yes
   blockinfile:
     dest: /etc/libvirt/qemu.conf
     block: |
       cgroup_device_acl = [
         "/dev/null", "/dev/full", "/dev/zero",
         "/dev/random", "/dev/urandom",
         "/dev/ptmx", "/dev/kvm", "/dev/kqemu",
         "/dev/rtc", "/dev/hpet", "/dev/vfio/vfio",
         "/dev/vfio/1"
       ]
   tags: vm

