---
 - name: install imgur-screenshot dependencies
   pacman:
     name: [
             'scrot',
             'xclip'
           ] 
     state: installed
   tags: utils

 - name: download imgur-screenshot repository
   git:
     repo: https://github.com/jomo/imgur-screenshot.git
     dest: /opt/imgur-screenshot
   tags: utils

 - name: create a symlink for imgur-screenshot
   file:
     src: /opt/imgur-screenshot/imgur-screenshot.sh
     dest: /home/{{ my_username }}/.Scripts/imgur-screenshot
     owner: "{{ my_username }}"
     group: "{{ my_username }}"
     state: link
   tags: utils

 - name: create screenshots directory
   file:
     path: /home/{{ my_username }}/Screenshots
     owner: "{{ my_username }}"
     group: "{{ my_username }}"
     state: directory
   tags: utils

 - name: create imgur-screenshot configuration directory
   file:
     path: /home/{{ my_username }}/.config/imgur-screenshot
     owner: "{{ my_username }}"
     group: "{{ my_username }}"
     state: directory
     recurse: yes
   tags: utils

 - name: delete imgur-screenshot configuration
   file:
     state: absent
     path: /home/{{ my_username }}/.config/imgur-screenshot/settings.conf

 - name: create imgur-screenshots configuration
   blockinfile:
     dest: /home/{{ my_username }}/.config/imgur-screenshot/settings.conf
     block: |
       imgur_acct_key="{{ imgur_client_id }}"
       imgur_secret="{{ imgur_secret }}"
       file_dir="$HOME/Screenshots"
     create: yes
   tags: utils

