---
 - name: check if ffcast exists
   command: which ffcast
   register: ffcast_check
   failed_when: ffcast_check.rc > 1
   tags: aur

 - name: create a temporary link to pod2man as a workaround to install ffcast
   file:
     src: /usr/bin/core_perl/pod2man
     dest: /usr/bin/pod2man
     state: link
   when: ffcast_check.rc == 1
   tags: aur

 - name: retrieve gpg key for dropbox
   become: yes
   become_user: "{{ bootstrap_username }}"
   command: "gpg --keyserver {{ gpg_keyserver }} --recv-keys 1C61A2656FB57B7E4DE0F4C1FC918B335044912E"
   tags: aur

 - name: install packages from aur
   become: yes 
   environment:
     SUDO_USER: "{{ bootstrap_username }}"
   makepkg:
     name: "{{ item }}"
     state: present
     build_dir: /tmp
   with_items:
     - dmenu2                         # dmenu with adjustable height
     - xrectsel                       # Dependency for ffcast
     - ffcast                         # Dependency for gif script
     - unclutter-xfixes-git           # Hides mouse cursor after inactivity (patched)
     - dropbox
     - dropbox-cli
     - ttf-ms-fonts
#    - simple-mtpfs                   # For mounting GoPro
#    - libmtp-git                     # For recognizing GoPro4 device
#     - discord-canary
     - font-manager
     - chromium-widevine              # For Netflix
     - autojump
#     - postman
     - slack-desktop
     - aws-session-manager-plugin
#    - imlib2-heic
   tags: aur

 - name: remove a temporary link to pod2man as a workaround to install ffcast
   file:
     path: /usr/bin/pod2man
     state: absent
   when: ffcast_check.rc == 1
   tags: aur

 - name: copy prepackaged lightdm-another-gtk-greeter into pacman cache
   become: yes
   copy:
     src: files/packages/lightdm-another-gtk-greeter-1.0.6.3-4-x86_64.pkg.tar.xz
     dest: /var/cache/pacman/pkg/
   tags: aur

 - name: install lightdm-another-gtk-greeter
   pacman:
     name: /var/cache/pacman/pkg/lightdm-another-gtk-greeter-1.0.6.3-4-x86_64.pkg.tar.xz
     state: installed
   tags: aur

