---
- name: install stack-static
  become: yes
  environment:
    SUDO_USER: "{{ bootstrap_username }}"
  makepkg:
    name: stack-static
    state: present
    build_dir: /tmp
    tags: haskell

- name: install ghc 8.0.2
  command: "stack setup --resolver nightly-2017-06-28"
  tags: haskell

- name: install ghc-mod 5.8.0.0
  command: "stack install ghc-mod --resolver nightly-2017-06-28"
  tags: haskell

