---
 - name: install neovim and python-neovim
   pacman:
     name: [ 'neovim', 'python-neovim' ]
     state: installed
   tags: nvim

 - name: create autoload neovim directory
   file:
     path: "/home/{{ my_username }}/.local/share/nvim/site/autoload"
     state: directory
   tags: nvim

 - name: download vim-plug for neovim
   get_url:
     url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
     dest: "/home/{{ my_username }}/.local/share/nvim/site/autoload/plug.vim"
   tags: nvim

 - name: create neovim config directory
   file:
     path: "/home/{{ my_username }}/.config/nvim"
     owner: "{{ my_username }}"
     group: "{{ my_username }}"
     state: directory
   tags: nvim

 - name: link vimrc for neovim
   file:
     src: "{{ playbook_dir }}/roles/common/files/init.vim"
     dest: "/home/{{ my_username }}/.config/nvim/init.vim"
     owner: "{{ my_username }}"
     group: "{{ my_username }}"
     state: link
     force: yes
   tags: nvim

 - name: link coc settings for neovim
   file:
     src: "{{ playbook_dir }}/roles/common/files/coc-settings.json"
     dest: "/home/{{ my_username }}/.config/nvim/coc-settings.json"
     owner: "{{ my_username }}"
     group: "{{ my_username }}"
     state: link
     force: yes
   tags: nvim

 - name: install neovim plugins
   become: yes
   become_user: "{{ my_username }}"
   command: "nvim +:PlugInstall|q|q"
   tags: nvim

 - name: copy haskell.vim syntax file
   become: yes
   file:
     src: "{{ playbook_dir }}/roles/common/files/haskell.vim"
     dest: /usr/share/nvim/runtime/syntax/haskell.vim
     state: link
     force: yes
   tags: nvim

